page-login {
  .scroll-content {
    background: #3a415b;
  }

  .iconContainer {
    margin-top: 25vh;
  }
  .logoContainer {
    display: block;
    margin-top: 3vh;
    text-align: center;
  }
  .wordAfterLogo {
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }
  .fbBtn {
    border-radius: 5px;
  }
  .googleBtn {
    background: white;
    color: red;
    text-transform: capitalize;
    border-radius: 5px;
  }
  .twitterBtn {
    background: #1eb1e7;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
  }
}
