<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6 text-center *ngFor="let item of itemsPaginated" padding-left padding-right>
        <ion-card *ngIf="item.image.src">
          <img [src]="item.image.src" alt="">
        </ion-card>
        <p *ngIf="item?.name" class="itemName">{{item.name}}</p>
        <span *ngIf="item?.price" class="price">{{item.price }}EGP.</span>
        <span *ngIf="item?.store_name" class="storeName"> {{item.store_name}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!doneLoading">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>